name: Build

on:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Kaniko build
        uses: aevea/action-kaniko@master
        with:
          image: aevea/release-notary
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          cache: true
          cache_registry: aevea/cache
          strip_tag_prefix: v

      - name: Sync Readme
        uses: ms-jpq/sync-dockerhub-readme@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: aevea/release-notary
          readme: "./README.md"
