name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  go:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.13.x]

    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Test
        run: make ci
